extends layout
block content
    center
        h1= title
        table
            tr
                td(style= "vertical-align: top;")
                    - if( typeof user === "undefined" )
                        a(href= 'login')
                            |   Login
                        |   /
                        a(href= 'signup')
                            |   Signup
                        
                    - else
                        font(size= '4')
                            |   #{  user.account } (#{ user.nickname })
                        br
                        a(href= 'logout')
                            |   Logout
                        |   /
                        a(href= 'disaccount')
                            |   Disaccount
                    form(name="theme_form", method= "POST")
                        |   Theme :
                        select(name= "theme", onchange= "document.theme_form.submit()")
                            - for ( var i = 0 ; i < menu.themes.name.length; i++ )
                                - if ( theme == menu.themes.file[i] )
                                    option(value= '#{ menu.themes.file[i] }', selected= 'selected') #{ menu.themes.name[i] }
                                - else
                                    option(value= '#{ menu.themes.file[i] }') #{ menu.themes.name[i] }
                        #{ theme }
                td(rowspan= '2')
                    block contentPage
            tr
                td(style= "vertical-align: top;")
                    - for ( var i = 0; i < menu.names.length; i++ )
                        - if (i != 0 )
                            br
                        a(href= menu.urls[i] ) #{ menu.names[i] }
                    